<div class="mat-elevation-z8 app-table-container">

    <button mat-stroked-button color="primary" type="button" [routerLink]="['new']" class="btn--new-user">NEW USER</button>
    <form class="search-form">
      <mat-form-field >
      <input matInput (keyup)="search($event.target.value)" id="name" placeholder="Search by Alias, FirstName or Last Name"/>
      </mat-form-field>
    </form>

  <div class="app-loading-spinner"
       *ngIf="(isLoading$ | async)">
    <mat-spinner></mat-spinner>
  </div>
  <div class="app-table">
    <table mat-table [dataSource]="(data$ | async)"
           matSort [matSortActive]="sortActive" matSortDisableClear [matSortDirection]="sortActiveDirection">
      <!--Index Column-->
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef> S.No. </th>
        <td mat-cell *matCellDef="let element; let i = index;" class="column column--xs">
          {{i+(displayConstants.page * displayConstants.limit) + 1}}
        </td>
      </ng-container>

      <!-- Image column -->
      <ng-container matColumnDef="imageURL">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element" class="column column--s"><img *ngIf="element.avatar" class="user-thumbnail" [src]="getImageURL(element._id)"  alt="{{element.alias}}"> </td>
      </ng-container>
      <!-- Id Column -->
      <!--<ng-container matColumnDef="_id">-->
      <!--<th mat-header-cell *matHeaderCellDef> Id </th>-->
      <!--<td mat-cell *matCellDef="let element"> {{element._id}} </td>-->
      <!--</ng-container>-->

      <!-- Creation Date Column -->
      <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear [arrowPosition]="'after'"> Added </th>
        <td mat-cell *matCellDef="let element" class="column column--s"> {{ element.getCreated() | date:'shortDate' }} </td>
      </ng-container>

      <!-- Display Name Column -->
      <ng-container matColumnDef="alias">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear [arrowPosition]="'after'"> Alias </th>
        <td mat-cell *matCellDef="let element" class="column column--fixed"> {{element.alias}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="contact.email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header [arrowPosition]="'after'"> Email </th>
        <td mat-cell *matCellDef="let element" class="column column--fixed"> {{element.email}}</td>
      </ng-container>

      <!-- First Name Column -->
      <ng-container matColumnDef="firstName" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear [arrowPosition]="'after'"> First Name </th>
        <td mat-cell *matCellDef="let element" class="column column--fixed"> {{element.firstName}} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear [arrowPosition]="'after'"> Last Name </th>
        <td mat-cell *matCellDef="let element" class="column column--fixed"> {{element.lastName}} </td>
      </ng-container>

      <!-- Last Name Column -->
      <ng-container matColumnDef="userType">
        <th mat-header-cell *matHeaderCellDef> User Type </th>
        <td mat-cell *matCellDef="let element" class="column column--s"> {{element.userType}} </td>
      </ng-container>

      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element" class="column column--s"> {{element.gender}} </td>
      </ng-container>

      <!-- Roles-->
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef> Roles </th>
        <td mat-cell *matCellDef="let element" class="column column--s"> {{element.roles}} </td>
      </ng-container>
      <!-- Actions-->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="column column--fixed">
          <a mat-icon-button color="accent"  [routerLink]="['/admin', element._id, 'edit']"><mat-icon svgIcon="sprite:edit"></mat-icon></a>
          <a mat-icon-button color="warn"  (click)="onDeleteUser(element._id)"><mat-icon svgIcon="sprite:delete"></mat-icon></a>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row [class.selected]="row._id === selectedId" *matRowDef="let row; columns: displayedColumns; let i = index;" (click)="onRowClicked(row)"></tr>
    </table>
  </div>
  <mat-paginator
    [length]="(resultsLength$ | async)"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>
