













/*********User Image in Comment Lists starts**********************/

/*********User Image in Comment Lists starts**********************/



.admin-user-icon {
  width: 40px !important;
  height:40px !important;
  border-radius: 50% !important;
  font-size: 40px !important;
  flex: 0 0 auto;
  margin-right: 10px;
}










