<mat-toolbar color="primary">

    <button fxHide.gt-xs mat-icon-button (click)="onToggleSidenav()">
      <mat-icon svgIcon="sprite:menu"></mat-icon>
    </button>

 <a fxHide.xs class="header__logo" routerLink="/">WoC</a>

    <ul fxLayout fxLayoutAlign="flex-start" fxLayoutGap="1rem" class="header__navigation-items header__navigation-items--start">
      <li *ngIf="isAuth">
        <span><a routerLink="/admin">Admin</a></span>
      </li>
      <li>
        <span><a routerLink="/questions">Questions</a></span>
      </li>
    </ul>

    <ul fxHide.xs fxLayout fxLayoutAlign="flex-end"  fxLayoutGap="1rem" class="header__navigation-items">
      <li *ngIf="!isAuth">
       <a [matMenuTriggerFor]="rootMenu">
         <span class="u__center"><mat-icon svgIcon="sprite:account_circle" class="mr-half"></mat-icon>Guest</span>
       </a>
      </li>
      <li *ngIf="isAuth">
        <a style="cursor: pointer;" [matMenuTriggerFor]="rootMenu">
          <span *ngIf="!user.avatar" class="u__center"><mat-icon svgIcon="sprite:account_circle" class="mr-half"></mat-icon>User</span>
          <span *ngIf="user.avatar" class="u__center"> <img  class="header__user-avatar" [src]="getImageUrl(user.id)" alt="{{user.alias}}">
            <small>{{user.alias}}</small>
          </span>
        </a>
      </li>
      <li>
        <app-ask-crowd></app-ask-crowd>
      </li>
    </ul>

</mat-toolbar>

<mat-menu #rootMenu="matMenu">
  <button *ngIf="!isAuth" mat-menu-item routerLink="/signup">
    <mat-icon svgIcon="sprite:face"></mat-icon>
    <span>SignUp</span>
  </button>
  <button *ngIf="!isAuth" mat-menu-item routerLink="/signin">
    <mat-icon svgIcon="sprite:input"></mat-icon>
    <span>SignIn</span>
  </button>
  <button *ngIf="isAuth" mat-menu-item [routerLink]="['/user','me']">
    <mat-icon svgIcon="sprite:account_circle"></mat-icon>
    <span>Profile</span>
  </button>
  <button *ngIf="isAuth" mat-menu-item [matMenuTriggerFor]="subMenu">
    <mat-icon svgIcon="sprite:power_settings_new"></mat-icon>
    <span>SignOut</span>
  </button>
</mat-menu>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item (click)="onSignOut()">
    <mat-icon svgIcon="sprite:eject"></mat-icon>
    <span>Sign Out (This Device)</span>
  </button>
  <button mat-menu-item (click)="onSignOutAll()">
    <mat-icon svgIcon="sprite:all_out"></mat-icon>
    <span>Sign Out (All Devices)</span>
  </button>
</mat-menu>


